.word_container_edit {
    position: relative;
    width: 200px;
    height: 52px;
    background: silver;
}
.letter_edit {
    position: relative;
    top: -10px;
    height: 50px;
    font-size: 50px;
    vertical-align: middle;
    display: inline;
}
.pys_container_edit {
    position: relative;
    top: -72px;
    left: 50px;
    height: 52px;
    width: 100px;
}
.py_container_edit_1 {
    position: relative;
    left: 0;
    top: -3;
    width: 25px;
    height: 52px;
}
.py_container_edit_2 {
    position: relative;
    left: 25px;
    top: -57px;
    width: 25px;
    height: 52px;
}
.py_container_edit_3 {
    position: relative;
    left: 50px;
    top: -113px;
    width: 25px;
    height: 52px;
}
.py_container_edit_4 {
    position: relative;
    left: 75px;
    top: -169px;
    width: 25px;
    height: 52px;
}
.py_container_edit_5 {
    position: relative;
    left: 100px;
    top: -225px;
    width: 25px;
    height: 52px;
}
.py_container_edit_6 {
    position: relative;
    left: 125px;
    top: -281px;
    width: 25px;
    height: 52px;
}
.radio_div_edit {
    position: relative;
    left: 0px;
    top: -5px;
    width: 20px;
    height: 5px;
}
.radio_edit input[radio] {
    position: relative;
    left: 0px;
    top: -5px;
}
.tone_edit {
    position: relative;
    top: 0px;
    left: 7px;
    width: 10px;
    height: 10px;
    font-size: 20px;
    text-align: center;
    text-indent: 5px;
}
.one_edit {
    position: relative;
    top: 8px;
    width: 10px;
    height: 5px;
    text-align: center;
    font-size: 20px;
}
.two_edit {
    position: relative;
    top: 5px;
    width: 10px;
    height: 5px;
    text-align: center;
}
.two_bold_edit {
    position: relative;
    top: 5px;
    width: 10px;
    height: 5px;
    text-align: center;
    font-size: 20px;
}
.three_edit {
    position: relative;
    top: 5px;
    width: 10px;
    height: 5px;
    text-align: center;
}
.four_edit {
    position: relative;
    top: 10px;
    width: 10px;
    height: 5px;
    text-align: center;
}
a.disabled {
    color: black;
    cursor: default;
    text-decoration: none;
}