<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<!--Sidebar content-->

			Word Edit
		</div>
		<div class="span10">
			<!--Body content-->
            <div class="edit_container">
                <div class="edit_letter ng-binding">間</div>
                <div class="edit_number edit_radio ng-scope ng-binding"><input type="radio"></div>
                <div class="edit_number edit_one ng-scope ng-binding"></div>
                <div class="edit_number edit_two ng-scope ng-binding">ㄐ</div>
                <div class="edit_number edit_two_bold ng-scope ng-binding"></div>
                <div class="edit_number edit_three ng-scope ng-binding">ㄧ</div>
                <div class="edit_number edit_four ng-scope ng-binding">ㄢ</div>
                <div class="edit_number edit_tone ng-scope ng-binding"></div>
                <div class="edit_number_2 edit_radio ng-scope ng-binding"><input type="radio"></div>
                <div class="edit_number_2 edit_one ng-scope ng-binding"></div>
                <div class="edit_number_2 edit_two ng-scope ng-binding">ㄐ</div>
                <div class="edit_number_2 edit_two_bold ng-scope ng-binding"></div>
                <div class="edit_number_2 edit_three ng-scope ng-binding">ㄧ</div>
                <div class="edit_number_2 edit_four ng-scope ng-binding">ㄢ</div>
                <div class="edit_number_2 edit_tone ng-scope ng-binding"></div>
                <div class="edit_number_3 edit_radio ng-scope ng-binding"><input type="radio"></div>
                <div class="edit_number_3 edit_one ng-scope ng-binding"></div>
                <div class="edit_number_3 edit_two ng-scope ng-binding">ㄐ</div>
                <div class="edit_number_3 edit_two_bold ng-scope ng-binding"></div>
                <div class="edit_number_3 edit_three ng-scope ng-binding">ㄧ</div>
                <div class="edit_number_3 edit_four ng-scope ng-binding">ㄢ</div>
                <div class="edit_number_3 edit_tone ng-scope ng-binding"></div>
            </div>
		</div>
	</div>
</div>
