<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<!--Sidebar content-->

			Word Edit
		</div>
		<div class="span10">
			<!--Body content-->
            <div class="word_container_edit">
                <div class="letter_edit">間</div>
                <div class="pys_container_edit">
                    <div class="py_container_edit_1">
                        <div class="radio_div_edit"><input class="radio" type="radio" name="group1" value="1" /></div>
                        <div class="one_edit">ˇ</div>
                        <div class="two_edit">ㄐ</div>
                        <div class="two_bold_edit"></div>
                        <div class="three_edit">ㄧ</div>
                        <div class="four_edit">ㄢ</div>
                        <div class="tone_edit">ˇ</div>
                    </div>
                    <div class="py_container_edit_2">
                        <div class="radio_div_edit"><input class="radio" type="radio" name="group1" value="1" /></div>
                        <div class="one_edit">ˇ</div>
                        <div class="two_edit">ㄐ</div>
                        <div class="two_bold_edit"></div>
                        <div class="three_edit">ㄧ</div>
                        <div class="four_edit">ㄢ</div>
                        <div class="tone_edit">ˇ</div>
                    </div>
                    <div class="py_container_edit_3">
                        <div class="radio_div_edit"><input class="radio" type="radio" name="group1" value="1" /></div>
                        <div class="one_edit">ˇ</div>
                        <div class="two_edit">ㄐ</div>
                        <div class="two_bold_edit"></div>
                        <div class="three_edit">ㄧ</div>
                        <div class="four_edit">ㄢ</div>
                        <div class="tone_edit">ˇ</div>
                    </div>
                    <div class="py_container_edit_4">
                        <div class="radio_div_edit"><input class="radio" type="radio" name="group1" value="1" /></div>
                        <div class="one_edit">ˇ</div>
                        <div class="two_edit">ㄐ</div>
                        <div class="two_bold_edit"></div>
                        <div class="three_edit">ㄧ</div>
                        <div class="four_edit">ㄢ</div>
                        <div class="tone_edit">ˇ</div>
                    </div>
                    <div class="py_container_edit_5">
                        <div class="radio_div_edit"><input class="radio" type="radio" name="group1" value="1" /></div>
                        <div class="one_edit">ˇ</div>
                        <div class="two_edit">ㄐ</div>
                        <div class="two_bold_edit"></div>
                        <div class="three_edit">ㄧ</div>
                        <div class="four_edit">ㄢ</div>
                        <div class="tone_edit">ˇ</div>
                    </div>
                    <div class="py_container_edit_6">
                        <div class="radio_div_edit"><input class="radio" type="radio" name="group1" value="1" /></div>
                        <div class="one_edit">ˇ</div>
                        <div class="two_edit">ㄐ</div>
                        <div class="two_bold_edit"></div>
                        <div class="three_edit">ㄧ</div>
                        <div class="four_edit">ㄢ</div>
                        <div class="tone_edit">ˇ</div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>